header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    height: 75px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    transition: all ease 0.5s;
}
.HeaderWithColor {
    background: #75bd9e;
    box-shadow: -10px 3px 20px #3f6353;
}
.Nav--logo {
    height: 45px;
    transition: all ease 0.5s;
}

.Nav--logo img {
    height: 100%;
}

.Nav--pokebol {
    height: 40px;
}

.Nav--pokebol img {
    height: 100%;
}