* {
    text-decoration: none;
}
.PokemonCard{
    border: solid 4px #e1fdff;
    padding: 10px;
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition: all ease 0.15s;
    width: 250px;
    height: 370px;
    cursor: pointer;
    align-items: center;
    color: #d4d4d4;
}
.PokemonCard:hover{
    border: solid 0px #588286;
    background: #588286;
    box-shadow: 0px 3px 20px #3f6353;
    color: #ffffff;
}
.Pokemon--img{
    padding: 9px;
    background: rgba(187, 222, 226, 0.2);
    border-radius: 10px;
    height: 270px;
    width: 100%;
}
.Pokemon--name{
    font-size: 20px;
    margin-top: 6px;
}
.Pokemon--img img{
    height: 80%;
}
.Pokemon--types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
}
.Pokemon--types div{
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    color: #ffffff;
}
.unknown{
    background: #838383;
}
.shadow{
    background: #2e2a2a;
}
.fairy{
    background: #c9bc93;
}
.dark{
    background: #2b2b55;
}
.dragon{
    background: #a7315e;
}
.ice{
    background: #4fc8cc;
}
.psychic{
    background: #b47fd3;
}
.electric{
    background: #b9a911;
}
.grass{
    background: #308f3d;
}
.water{
    background: #3346b3;
}
.fire{
    background: #ca1c1c;
}
.steel{
    background: #b0b6b1;
}
.ghost{
    background: #764085;
}
.bug{
    background: #b46f40;
}
.rock{
    background: #803618;
}
.ground{
    background: #471b09;
}
.fighting{
    background: #db6e26;
}
.flying{
    background: #a4c7d4;
}
.normal{
    background: #e9a772;
}
.poison{
    background: #b43cb4;
}